// Variables
$dark-txt: #2B283A
$dark-bgd: #0B2434

$purple-txt: #4A4E74
$purple-btn: #5035FF

$white: #FFFFFF
$green: #59E391
$gray: #F5F5F5

// General
*
  box-sizing: border-box
  font-family: 'Karla', sans-serif
  margin: 0

body
  margin: 0
  padding: 20px
  background: $dark-bgd
  display: flex
  justify-content: center
  align-items: center
  height: 100vh

main
  display: flex
  flex-direction: column
  justify-content: space-between
  gap: 30px
  align-items: center
  max-width: 100%
  aspect-ratio: 1
  padding: 60px
  border-radius: 10px
  background: $gray

// Text
.title
  font-size: 2em
  color: $dark-txt

.instructions
  font-family: 'Inter', sans-serif
  font-size: 1em
  color: $purple-txt
  font-weight: 400
  max-width: 340px
  text-align: center

// Die
.dice-container
  display: grid
  grid-template-columns: repeat(5, 1fr)
  grid-gap: 18px

.die
  display: flex
  justify-content: center
  align-items: center
  width: 50px
  aspect-ratio: 1
  border-radius: 4px
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15)
  font-size: 1.75em
  font-weight: 700
  color: $dark-txt

// Button
.btn
  display: flex
  justify-content: center
  align-items: center
  background: $purple-btn
  color: $white
  font-size: 1.25em
  width: 150px
  height: 50px
  border-radius: 4px
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15)
  cursor: pointer
  user-select: none

  &:active
    background: $purple-txt